html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: normal;
}
.prompt {
  &-title {
  }
  &-text {
    user-select: all;
  }
  &-image {
    height: 400px;
  }
}
