:root {
  --spacer: 4px;
}
html,
body {
  margin: 0;
  padding: 10px 50px;
  width: 100vw;
  height: 100vh;
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: 100;
}
h1,
h2,
h3,
h4 {
  font-weight: 100;
}

.prompt {
  display: flex;
  align-items: center;
  max-width: 40vw;
  gap: var(--spacer);
  box-shadow: 0 0 10px #aaa;
  border-radius: calc(2 * var(--spacer));
  padding: 0 calc(var(--spacer) * 4) calc(var(--spacer) * 8);
  flex-direction: column;
  justify-content: flex-start;
}

.prompts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.prompt-text {
  background: #eee;
  padding: calc(var(--spacer) * 4);
  white-space: wrap !important;
  max-width: 80%;
  border-radius: calc(2 * var(--spacer));
  user-select: all;
}

.prompt-image {
  width: 90%;
  & img {
    width: 100%;
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover;
  }
}

.prompt-comment {
  font-style: italic;
}

a {
  text-decoration: none;
}

.prompt-composition {
  display: flex;

  & #promptCompositionResult {
    width: 100%;
    height: 300px;
  }
}
#partsElement {
  user-select: none;
  pointer-events: none;
}
.part-example {
  user-select: all;
  pointer-events: all;
}
