html,
body {
  margin: 0;
  padding: 10px 50px;
  width: 100vw;
  height: 100vh;
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: 100;
}
.prompt-title {
}
.prompt-text {
  user-select: all;
  width: 75vw;
  white-space: pre-line;
}
.prompt-image {
  height: 400px;
}
.prompt-comment {
  font-style: italic;
}
